// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

#circleG {
    display: block;
}

table a.underline:hover {
    text-decoration: underline;
}

.survey h6 {
    font-size:18px;
    margin-bottom:0.5rem;
    font-style: italic;
}

.survey hr {
    margin-left:0;
    margin-top:0;
}

.questions {
    margin:0;
}

.questions>li {
    font-weight: bold;
    list-style-position: inside;
    text-indent: 9px;
}

.questions>li.more-9 {
    text-indent: 0;
}

.questions li.callout>p {
    font-size: 1rem;
    margin:-22px 0 0.5rem 27px;
    line-height: 1.2;
    text-indent: 0;
}

.questions li.callout:last-child {
    margin-bottom:0;
}

.questions .textarea-wrapper {
    padding-left:27px;
}

.questions textarea {
    font-weight: normal;
    min-height: 95px;
    max-height:150px;
    min-width:100%;
}


.answers {
    margin-left: 27px;
    margin-bottom: 0;
}

.edit-question .answers {
    margin-left: 0;
}

ul.answers li {
    list-style: none;
    text-indent: 0;
}

ul.answers li {
    list-style: none;
    text-indent: 0;
}

ul.answers li>[type='checkbox'],
ul.answers li>[type='radio'] {
    display: none;
}

.md-radio,
.md-checkbox {
    display: inline-block;
    margin:0 !important;
    padding-left:1.5rem;
    position:relative;
    line-height: 1;
    outline: none;
}

.md-radio:before,
.md-radio:after,
.md-checkbox:before {
    content:'';
    display: block;
    width:18px;
    height:18px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-9px;
    box-sizing: border-box;
}

.md-radio:before,
.md-checkbox:before {
    border:solid 3px #dfdfdf;
}

.md-radio:focus:before,
.md-checkbox:focus:before {
    border-color:#868bca;
}

.md-radio:after,
.md-radio:before {
    border-radius:50%;
}

.md-radio:after {
    padding:5px;
    background-clip: content-box;
    /*transform:scale(0);
    transition: transform 0.5s;*/
    display: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(68, 78, 139, 0.4);
    }
    100% {
        box-shadow: 0 0 0 7px rgba(68, 78, 139, 0);
    }
}

input:checked ~ .md-radio:before,
.md-radio.checked:before {
    border-color: #444e8b;
    animation: ease-out 1s pulse;
}
input:checked ~ .md-radio:after,
.md-radio.checked:after {
    background-color: #444e8b;
    /*transform:scale(1);*/
    display: block;
}

.md-checkbox:before {
    transition:transform 0.3s;
}

input:checked ~ .md-checkbox:before,
label.md-checkbox.checked:before,
.md-checkbox.checked:before {
    border-right: none;
    border-top:none;
    width:19px;
    height:10px;
    transform:rotate(-45deg);
    border-color:#444e8b;
}

label.md-checkbox.checked {
    height: 8px;
}

label.md-checkbox.checked:before {

}

.table-survey thead th:nth-child(1){
    width:40px;
}

.table-survey thead th:nth-child(3){
    width:200px;
}

.table-survey th:nth-child(4){
    width:100px;
}

.table-survey th:nth-child(5){
    width:40px;
}

.callout div.legend {
    margin-left:0.75rem;
    font-size:1.1rem;
    border-radius: 10px;
    background-color: #fff;
    padding: 3px 12px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 0 10px 0 rgba(0,0,0,0.05);
    position:absolute;
    left:0;
    top:-16px;
}

.settings-survey textarea,
.modal-setting textarea {
    max-width:100%;
    min-width:100%;
    min-height:104px;
    max-height:186px;
    box-sizing: border-box;
}

.settings-survey .textarea-wrapper textarea,
.modal-setting .textarea-wrapper textarea {
    min-width:100%;
    min-height:55px;
    max-height:55px;
    resize:none;
}

.settings-survey .textarea-wrapper textarea[readonly],
.modal-setting .textarea-wrapper textarea[readonly] {
    background-color:#e6e6e6 !important;
}

.settings-survey .textarea-wrapper textarea[readonly],
.modal-setting .textarea-wrapper textarea[readonly] {
    border: solid 1px #cacaca;
    background-color: inherit;
    outline: none;
    box-shadow: none !important;
    transition:none;
}

.settings-survey .callout,
.report-survey .callout
{
    padding-top:26px;
}

.settings-survey div.callout:nth-last-of-type(n+2) {
    margin-bottom:32px;
}

.plus-button,
.cross-button {
    border-radius: 50%;
    position:relative;
}

.plus-button.big {
    width:50px;
    height:50px;
}

.plus-button.small,
.cross-button.small {
    width:30px;
    height:30px;
}

.plus-button:before,
.plus-button:after,
.cross-button:before,
.cross-button:after {
    content:'';
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius:2px;
    background-color:#444e8b;
}

.plus-button.primary {
    background-color:#444e8b;
}

.plus-button.primary:before,
.plus-button.primary:after {
    background-color:#fff;
}

.cross-button:before {
    transform:translate(-50%, -50%) rotate(-45deg);
}

.cross-button:after {
    transform:translate(-50%, -50%) rotate(45deg);
}

.plus-button.big:before {
    width:30px;
    height:5px;
}

.plus-button.big:after {
    width:5px;
    height:30px;
}

.plus-button.small:before {
    width:15px;
    height:3px;
}

.plus-button.small:after {
    width:3px;
    height:15px;
}


.cross-button.small:before,
.cross-button.small:after {
    background-color:#676cbc;
}

.cross-button.small:hover:before,
.cross-button.small:hover:after {
    background-color:#444e8b;
    height:3px;
}

.cross-button.small:before,
.cross-button.small:after {
    width:18px;
    height:2px;
}

.edit-button {
    position:absolute;
    font-weight:normal;
    top:-15px;
    right:-12px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
    width:30px;
    height:30px;
    background-color:#fff;
}

.add-survey {
    background:url("/../images/checked-plus.svg") no-repeat;
    display:block;
    width: 22px;
    height:22px;
}

.surveys {
    background:url("/../images/surveys.svg") no-repeat;
    background-size: 22px 22px;
    display:inline-block;
    width: 22px;
    height:22px;
}

.add-question {
    position:fixed;
    bottom:50px;
    right:50px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    opacity: 0.6;
}

.add-question.primary {
    box-shadow: 0 0 10px 0 rgba(68, 78, 139, 0.4);
}

.add-question:hover {
    opacity:1;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.2);
}


.add-question.primary.pulse {
    animation: add-question-pulse 1s ease-out 1s, add-question-opacity 1.5s linear 0.5s backwards;
}

@keyframes add-question-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity:0.6;
    }
}

@keyframes add-question-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(68, 78, 139, 0.4);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(68, 78, 139, 0);
    }
}

.add-question.primary.pulse:after,
.add-question.primary.pulse:before {
    animation: 2s add-question-rotate 1s;
}

@keyframes add-question-rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.md-switcher {
    margin-bottom:1rem;
}

input[type='text'].md {
    display: inline-block;
    width:auto;
    border:none;
    box-shadow:none;
    border-bottom:1px solid #cacaca;
    height: auto;
    padding:0.25rem;
}

input[type='text'].md:focus {
    box-shadow:none !important;
    border:none;
    border-bottom:1px solid #8a8a8a;
    transition:border-color 0.25s
}

input[type='text'].md:before {
    left:50%;
    width:50%;
    height:1px;
    background-color:#8a8a8a;
}

.variant-answers {
    display: flex;
    align-items: center;
    margin-bottom:0.5rem;
}

.variant-answers input.md {
    width:85%
}

.variant-answers button {
    margin-left: 6px;
}

.variant-answers.add-answer {
    margin-bottom:0;
}

.custom-checkbox-radio input {
    display:none;
}

.md-tab-switcher {
    display: flex;
    margin-bottom:1rem;
}

.md-tab-switcher.m-b-n {
    margin-bottom: 0;
}

.md-tab-switcher div:nth-child(-n+2) {
    margin-right:1rem;
}

.md-tab-switcher label {
    margin-right:1rem;
    display: flex;
    align-items: center;
    height:18px;
}

.md-tab-switcher input {
    display:none;
}

.from, .to {
    position: relative;
}

.from:before,
.to:before {
    content: attr(data-placeholder);
    position: absolute;
    top:50%;
    left:1.375rem;
    transform: translateY(-50%);
}

.from:before {
    /*padding-left:0.7rem;*/
}

.to:before {

}

.from input {
    padding-left:25px;
}

.to input {
    padding-left:34px;
}

input.ui-autocomplete-input[id$=search] {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") right -1.2rem center no-repeat;
    background-size: 9px 6px;
    /*background-position: right -1.2rem center;*/
    background-origin: content-box;
    /*background-repeat: no-repeat;*/
    padding-right: 1.7rem;
}

input.ui-autocomplete-input[id$=search][disabled] {
    background-color:#e6e6e6 !important;
}

input.ui-autocomplete-input.ui-autocomplete-loading[id$=search] {
    background-image: url("/../images/loading.gif");
    background-position: right -1.4rem center;
    background-size: 18px;
}

.column.m-b, .m-b.columns {
    margin-bottom: 0.875rem !important;
}

.button-group.no-gaps .button {
    margin-right:0;
}

.ui-autocomplete-notfound.alert > div,
.ui-autocomplete-notfound.alert > div.ui-state-active {
    color: #ec5840;
}

.lowercase {
    text-transform: lowercase;
}

table.checkbox-radio {
    margin-top:0.25rem;
}

table.checkbox-radio tbody td {
    padding: 0 0 0.5rem 0;
}

table.checkbox-radio.stack-xxsmall tr {
    padding-bottom:0;
}

.date-status {
    display: none;
}


/*@media screen and (min-width: 24.9375em) {

}*/

@media screen and (min-width: 40em) {
    .survey .callout.min-width {
        min-width: calc(100% - 2.225rem);
    }

    .from:before,
    .to:before {
        left: 1.625rem;
    }
}

@media screen and (max-width: 440px) {
    .stack.md-tab-switcher {
        flex-direction: column;
    }

    .stack.md-tab-switcher div:nth-last-child(n+2) .md-checkbox,
    .stack.md-tab-switcher div:nth-last-child(n+2) .md-radio {
        margin-bottom: 0.5rem !important;
    }
}

@media screen and (max-width: 900px) {
    .table-survey td:nth-child(1),
    .table-survey th:nth-child(1),
    .table-survey td:nth-child(3),
    .table-survey th:nth-child(3),
    .table-survey td:nth-child(4),
    .table-survey th:nth-child(4) {
        display:none;
    }

    .date-status {
        display: block;
    }
    /*.table-survey td:nth-child(2):after {
        content: attr(data-period);
        display: block;
        font-style: italic;
        font-size:0.8rem;
        padding-top: 0.5rem;
    }*/
}

.example-appear {
    display:none;
}

.example-enter {
    opacity:0;
    transform:scale(0.95);
}

.example-enter-active {
    opacity: 1;
    transform:scale(1);
    transition: transform 200ms linear, opacity 200ms linear;
}

.example-exit {
    opacity: 1;
}

.example-exit-active {
    opacity: 0;
    transform:scale(0.95);
    transition: opacity 300ms ease-in;
}

.example-exit-done {
    display:none;
}

.tab-appear {
    /*opacity:0;
    transform:scale(0.8);*/
    display:block;
}

.tab-appear-active {
    /*opacity: 1;
    transform:scale(1);
    transition: transform 300ms ease, opacity 250ms ease-in;*/
    display:block;
}

.tab-appear-done {
    display:block;
}

.tab-enter {
    /*opacity:0;
    transform:scale(0.8);*/
    display:block;
}

.tab-enter-active {
    /*opacity: 1;
    transform:scale(1);
    transition: transform 300ms ease, opacity 250ms ease-in;*/
    display:block;
}

.tab-enter-done {
    display: block;
}

.tab-exit {
    display:none;
    /*opacity:1;
    transform: scale(1);*/

}

.tab-exit-active {
    display:none;
    //opacity: 0;
    //transform:scale(0.9);
    //transition: transform 50ms ease, opacity 100ms ease-in;
}

.tab-exit-done {
    display:none;
}

.tab-exit,
.tab-exit-active,
.tab-exit-done {
    .plus-button.big {
        display: none;
    }
}

/*
.column.notify,
.columns.notify{
    !*min-height: 0;
    padding-top:0;
    padding-bottom:0;*!
    transform: scaleY(0);
}
*/

.slide {
    max-height:0;
    overflow: hidden;
}

.slide-enter {
    max-height:0;
}

.slide-enter-active {
    max-height: 4rem;
    transition: max-height 250ms ease;
}

.slide-enter-done {
    max-height: 4rem;
}

.slide-exit {
    max-height:0;
}

.slide-exit-active {
    max-height: 0;
    transition: max-height 200ms ease;
}

.item-enter {
    transform:scale(0);
    opacity:0;
}

.item-enter-active {
    opacity:1;
    transform:scale(1);
    transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.item-exit {
    transform:scale(1);
    opacity:1;
}

.item-exit-active {
    opacity:0;
    transform:scale(0);
    transition: transform 250ms ease-out, opacity 250ms ease-out;
}

.column.m-b-small {
    margin-bottom:0.5rem;
}
